body {
  text-align: center;
  background-image: url(../images/back.jpeg);
  background-size: cover;
}

.row {
  background-size: cover;
}

#topbar {
  text-align: right;
  display: inline-block;
  width: 100%;
}

h6 {
  font: oblique larger bold;
}

#logo {
  float: left;
  clear: left;
}

.pic {
  padding:5px;
}

#gallery {
  background-image: url(../images/pic-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline black;
}

.order {
  text-align: center;
}

#number {
  width: 50px;
}

textarea {
  width: 70%;
}

.branch {
  display: none;
}

.okay {
  display: none;
}
#sal {
  padding:0px;
}
input {
  border-width:1px;
  border-color:black;
  background-color:white;
}
select {
  border-width:1px;
  border-color:black;
  background-color:rgb(255, 255, 255);
}
button {
  border-width:1px;
  border-color:black;
  background-color:rgba(119, 136, 153, 0.3);
  border-radius: 2px;
}