body {
  text-align: center;
}

.row {
  background-size: cover;
}

#topbar {
  text-align: right;
  display: inline-block;
  width: 100%;
}

h6 {
  font: oblique larger bold;
}

#logo {
  float: left;
  clear: left;
}

.pic {
  padding:5px;
}

#gallery {
  background-image: url(../images/pic-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline black;
}

.order {
  text-align: center;
}

#number {
  width: 50px;
}

textarea {
  width: 50%;
}

.branch {
  display: none;
}

.okay {
  display: none;
}
#sal {
  padding:0px;
}